<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Todo App</h1>
        <h1>Signup</h1>
        <form action="{{ url_for('handle_signup') }}" method="POST">
            <label for="userId">User Name</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">Sign up</button>
        </form>
        <h4>Already have an account : <a href="/">Login Here</a></h4>
        <h5>Made with ❤ by Dileep, Midhun, Jayanth, Saurav</h5>
        <h5>Data Base Systems and Programming MINI PROJECT</h5>
    </div>
    
</body>
</html>
